@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	header
		.top-mnu
			li
				margin-left: 20px
			a
				font-size: 20px
			

	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.wrapper
		text-align: center
		nav,.top-contacts
			float: none
		.top-mnu
			display: inline-block

	.section1
		.section1-h1
			font-size: 40px
			margin-top: 35px
	
		.section1-buttom
			padding-top: 90px

		.section1-button
			padding: 30px
			font-size: 18px			
	.section2
		.section2-h2
			font-size: 35px
		.section2-flex-column-header
			font-size: 12px	
		.column-align
			padding-bottom: 5px	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.wrapper
		.top-mnu
			display: none
			line-height: 1.3
			li
				display: block
				&:first-child
					margin-left: 20px	
				
		
		.top-contacts		
			margin-top: 5px

	.section1
		min-height: 600px
		.section1-h1
			font-size: 30px
			margin-top: 25px	

		.section1-p
			font-size: 20px
		.section1-quote
			font-size: 15px
	
		.section1-buttom
			padding-top: 70px

		.section1-button
			padding: 30px 18px
			font-size: 18px		
	.section2
		margin-top: 15px
		.section2-center
			text-align: center
		.section2-h2	
			display: block
			width: 100%
			margin-top: 15px
			margin-bottom: 15px
			font-size: 30px
			line-height: 1.2

/* My form */
@media only screen and (max-width : 572px)
	.section2
		.section2-h2	
			margin-top: 10px
			margin-bottom: 15px
			font-size: 25px
		.section2-flex-block-title
			font-size: 12px
			padding-bottom: 3px
			padding-top: 4px
		.yellow-point
			margin-right: 5px
		.column-align
			padding-left: 10px
			padding-right: 10px
		.section2-button
			padding: 10px 40px
		.yellow-point
			height: 12px
		.section-position-price	
			margin-top: 0px
			margin-bottom: 5px
		.glast
			padding-bottom: 10px
		.lastempty
			padding-bottom: 118px	
/* My form */
@media only screen and (max-width : 525px)
	.vcenter
		display: block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.wrapper
		text-align: left
		.top-logo-box
			font-size: 14px
		.toggle-mnu
			right: -132px
		.menu	
			width: 40px
			height: 30px
			.menu-middle
				top: 13px
			.menu-bottom
				top: 26px	
			.menu-global
				border-top: 5px solid #fff
		.menu-top-click
			backface-visibility: hidden
			top: 25px
			transform: rotate(50deg)
			transition: 0.55s 0.5s
		.menu-middle-click
			opacity: 0
		.menu-bottom-click
			backface-visibility: hidden
			top: 15px
			transform: rotate(-410deg)
			transition: 0.55s 0.5s	
	.section1
		.section1-buttom
			padding-top: 50px

		.section1-button
			padding: 25px 15px
			font-size: 18px				
	.section2
		.section2-h2	
			margin-top: 10px
			margin-bottom: 15px
			font-size: 25px
		.section2-flex-block-title
			font-size: 12px
			padding-bottom: 3px
			padding-top: 4px
		.yellow-point
			margin-right: 5px
		.column-align
			padding-left: 10px
			padding-right: 10px
		.section2-button
			padding: 10px 40px
		.yellow-point
			height: 12px
		.section-position-price	
			margin-top: 0px
			margin-bottom: 5px
		.glast
			padding-bottom: 10px
		.lastempty
			padding-bottom: 118px

/* My 2 */
@media only screen and (max-width : 455px)

	.section2
		.section2-h2	
			margin-top: 10px
			margin-bottom: 15px
			font-size: 25px
		.section2-flex-column-header
			font-size: 8px
			padding-bottom: 1px
			padding-top: 7px
		.uppercase
			font-size: 15px	
		.xsvertical
			padding-bottom: 13px	
		.section2-flex-block-title
			font-size: 10px
			padding-bottom: 5px
			padding-top: 6px
		.yellow-point
			margin-right: 3px
			height: 9px
		.column-align
			padding-left: 2px
			padding-right: 2px
		.googlpus
			font-size: 19px
		
		.section2-price
			font-size: 18px	
		.section2-rub	
			margin-bottom: 5px
		.section2-button
			padding: 4px 8px
			font-size: 13px
		.section-position-price	
			margin-top: 0px
			margin-bottom: 5px
		.glast
			padding-bottom: 10px
		.lastempty
			padding-bottom: 88px	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.wrapper
		.toggle-mnu
			right: -122px	

	.section1
		.section1-h1
			font-size: 25px
			margin-top: 10px	

		.section1-buttom
			padding-top: 40px

		.section1-button
			padding: 25px 15px
			font-size: 18px			
	.section2
		.section2-h2	
			margin-top: 10px
			margin-bottom: 15px
			font-size: 18px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

